/* globel style */
/* git tocken */
/* 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 */
*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #399bf0;
  --color-primary-alt: #45a0f5;

  --font-default: sans-serif;
  --font-regular: 400;
  --fixed-index: 100;
}

html,
body {
  font-family: var(--font-default);
  font-weight: var(--font-regular);
  scroll-behavior: smooth;
  /* overflow-x: hidden; */
  min-height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: repeat(300px, 1fr, 1fr);
}

section {
  padding: 5rem 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.flex {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.col-6 {
  width: 50%;
  float: left;
  padding: 0 15px;
}

.wrapper {
  width: 1024px;
  padding: 0 15px;
  margin: 0 auto;
}

/* logo */
.header {
  width: 60%;
  margin: 0 auto;
}
.logo i {
  color: var(--color-primary);
  font-size: 2rem;
}

.twitter_img {
  display: grid;
  place-content: center;
  position: relative;
  padding: 5.5rem 0;
  width: 100%;
  background: #ddd;
  margin: auto;
  background: url(../img/twitter_bg.png) no-repeat center;
  background-size: cover;
}

.twitter_img i {
  color: #fff;
  font-size: 10.5rem;
}

/* main */

a.click {
  padding: 0.8rem 3.1rem;
  border: none;
  margin-top: 5rem;
  border: 1px solid var(--color-primary);
  outline: none;
  border-radius: 3px;
  font-size: 1.57rem;
  color: #1f1c1c;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
}

/* Login */

.sign_up_option {
  width: 60%;
  margin: 0 auto;
  position: relative;
}

.sign_up_option::before {
  content: "\f099";
  font-family: "Font Awesome 5 Brands";
  color: #45a0f58c;
  font-size: 22rem;
  position: absolute;
  z-index: -1;
  top: 52%;
  left: 178px;
  transform: rotatey(180deg) translate(0, -52%);
}

.sign_up_option .heading {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  font-weight: 800;
}

.sign_up_option .heading_title {
  margin-bottom: 1.5rem;
  font-size: 1.25rem;
  font-weight: bold;
}

.sign_up_option .heading_title {
  margin-bottom: 1.5rem;
  font-size: 1.25rem;
  font-weight: bold;
}

.sign_up_option .sign_up_buttons {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.sign_up_option .sign_up_buttons button {
  margin-bottom: 1rem;
  border: none;
  outline: none;
  border: 1px solid #ddd;
  background-color: transparent;
  width: 50%;
  height: 40px;
  border-radius: 20px;
  font-size: 0.79rem;
  font-family: var(--font-default);
  font-weight: 600;
  cursor: pointer;
  user-select: none;
  transition: all 0.3s ease-in-out;
}

.sign_up_option .sign_up_buttons button:last-child {
  margin-bottom: 2rem;
}

.sign_up_option .sign_up_buttons button i {
  font-size: 1rem;
}

.sign_up_option .sign_up_buttons button:hover {
  background-color: #e4e4e475;
  border: 1px solid #e4e4e475;
}

.sign_up_option p.agree {
  color: #635b5b;
  font-weight: 500;
  font-size: 15px;
  margin-bottom: 1.5rem;
}

.sign_up_option .agree > a,
.sign_up_option .have_account > a {
  color: var(--color-primary);
}

.sign_up_option .agree > a:hover,
.sign_up_option .have_account > a:hover {
  text-decoration: underline;
}

.sign_up_option .have_account {
  font-size: 1rem;
  color: #1f1c1c;
}

/* main */

/* footer */
.footer {
  padding: 2rem 0;
}
.footer_links {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.footer_links a,
.footer_links .twitter_inc {
  margin: 0 13px;
  color: #777;
  line-height: 30px;
  font-size: 14px;
  user-select: none;
}

.footer_links a:hover {
  color: #2d2d2d;
}

.footer_links .twitter_inc {
  margin: 0;
}
